<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='https://koushik-2006.github.io/expense-tracker-1/static/images/CharyLogo.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='https://koushik-2006.github.io/expense-tracker-1/static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='https://koushik-2006.github.io/expense-tracker-1/static/css/about/about.css'>
        <link rel='stylesheet' media='screen and (max-width:767px)' href='https://koushik-2006.github.io/expense-tracker-1/static/css/about/about-mobile.css'>

        <!-- JavaScript links -->
        <script src='https://koushik-2006.github.io/expense-tracker-1/static/javascript/landing.js'></script>
        <script src='https://koushik-2006.github.io/expense-tracker-1/static/javascript/script.js'></script>

        <Title>Chary | 🇦​🇧​🇴​🇺​🇹​</Title>
    </head>

    <body onload="fillProfilePics()">
        <div id="header-container">
            <header>
                <img id='large-logo' src="https:/koushik-2006.github.io/expense-tracker-1/static/images/CharyLogo.svg" onclick="homeAction()" alt='Chary logo'> 
                <img id='toggle-icon' class="hamburg icon" src="https:/koushik-2006.github.io/expense-tracker-1/static/images/hamburger-icon.svg" onclick="toggleMenu()" alt="toggle menu button">
            
                <nav id="website-nav">~KOUSHIK S</nav>
            </header>
        </div>

        <div class="content non-header" id="about">
            <h1 id="about-header">🇦​🇧​🇴​🇺​🇹​</h1>
            <div id="definition">
                <h3 id="dict-header">EXPENZO• <span id='dict-ipa'>/எக்ஸ்பென்சோ •ಎಕ್ಸ್‌ಪೆಂಜೊ •एक्सपेन्ज़ो •エクスペンゾ •/</span></h3>
                <p>adjective</p>
                <ol>
                    <li>discreetly cautious</li>
                    <ol type="a">
                        <li>hesitant and vigilant about dangers and risks</li>
                        <li>slow to grant, accept, or expend</li>
                    </ol>
                </ol>
                <p id="citation">noun /ˈɛk-spɛn-zoʊ/

1. A smart digital companion for tracking, analyzing, and mastering personal expenses.
2. A tool designed to build better budgeting habits and help users make informed financial decisions.
3. The habit of spending mindfully, saving consistently, and living financially aware</a>.</p>
            </div>
            <div id="summary">
                <h2>𝔸𝕡𝕡 𝕊𝕦𝕞𝕞𝕒𝕣𝕪</h2>
                <p>Expenzo is a clean, user-friendly expense tracker app that helps you manage your daily spending, visualize your financial habits, and stay on top of your budget goals. With real-time analytics, customizable budgets, and responsive design, Expenzo makes money management easy for everyone — students, professionals, and families alike</p>
            </div>
            <div id="about-app">
                <h2>Development Details</h2>
                <p>
                    Expenzo was developed by Koushik Sethuraman as a personal project with a passion for simplifying personal finance management. Development began in 2024, with the goal of creating a clean, intuitive, and user-friendly expense tracking app for students, professionals, and everyday users 
                </p>
                    
                <p>
                    Expenzo is built using HTML, CSS, and Vanilla JavaScript for the frontend, offering a responsive and lightweight experience across all devices. The backend (if implemented in future versions) is planned to be powered by Flask or Node.js, with integration options for cloud-based databases like Firebase.
                </p>
                
                <p>
                    Most of the visual assets, including the logo, icons, and UI elements, were custom-designed to match Expenzo’s clean and modern feel. Illustrations used across the landing pages are sourced from undraw.co, ensuring a cohesive and visually appealing interface.
                </p>

                <p><a class="normal-link" href="https://github.com/koushik-2006">Click here</a> to view the Github repository for EXPENZO </p>
            </div>
            <div id="about-asha">
                <h2>🇦​🇧​🇴​🇺​🇹​ the Creator</h2>
                <img src="https:/koushik-2006.github.io/expense-tracker-1/static/images/asha-flowerprofile.jpg">
                <p> Expenzo was created by Koushik Sethuraman, a passionate developer and tech enthusiast from VSB Engineering College. With a strong drive to blend design with functionality, he built Expenzo to make everyday money management simple, smart, and stress-freehttps://koushik-2006.github.io/expense-tracker-1</p>
            </div>
        </div>

        <div class="footer">
            <div class='contact-methods'> 
                <div class='contact-icon' title="Asha's Github">
                    <a target="_blank" rel="noopener noreferrer" href='https://github.com/koushik-2006' alt="Github logo">
                        <img src="https:/koushik-2006.github.io/expense-tracker-1/static/images/GitHub-Mark-Light-64px.png" alt="Github logo">
                    </a>
                </div> 
                <div class='contact-icon' title="Asha's LinkedIn">
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/koushik-cse/' alt="LinkedIn logo">
                        <img src="https://koushik-2006.github.io/expense-tracker-1/static/images/LI-In-Bug.png" alt="LinkedIn logo">
                    </a>
                </div>
                <div class='contact-icon' title="Asha's personal portfolio website">
                    <a target="_blank" rel="noopener noreferrer" href='https://leetcode.com/u/koushiksethuraman' alt="Logo for Asha's personal portfolio website">
                        <img src="https://koushik-2006.github.io/expense-tracker-1/https://koushik-2006.github.io/expense-tracker-1/static/images/AshaIV-logo-light.svg" alt="Logo for Asha's personal portfolio website">
                    </a>
                </div>
            </div> 
            <div id="legal">
                <div class="legal-button">
                    <a href="/privacy">Privacy Policy</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/terms_of_service">Terms of Service</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/contact">Contact</a>
                </div>
                <span>|</span>
                <div class="report-button">
                    <a target="_blank" rel="noopener noreferrer" href="https://mail.google.com/mail/?view=cm&to=koushik.sethuraman6@gmail.com&su=Project%20Discussion&body=Hi%20Koushik,%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20project?usp=sf_link" alt="Link to report an issue">Report Issue</a>
                </div>
            </div>
            <div class="btt-icon" onclick="bttAction()">
                <img class="icon" src="https://koushik-2006.github.io/expense-tracker-1/static/images/CharyLogo.svg" alt="Simplified version of the Chary logo. Scrolls to top of page when clicked.">            
            </div>
        </div>
    </body>
</html>